.pages-Onboarding {
  background-color: var(--color-bg-secondary);
  width: 100%;
  min-height: 100vh;
  padding: var(--pad-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(210, 210, 210, 0.853),
      rgba(164, 164, 164, 0.778)
    ),
    url("../../assets/images/payingGuest.jpeg");
  background-position: center bottom;
  background-size: cover;
}

/* if height is < 700px, set min-height to 700px */
@media (max-height: 700px) {
  .pages-Onboarding {
    min-height: 700px;
  }
}

.pages-Onboarding .onboarding-container {
  background-color: var(--color-bg-primary);
  border-radius: var(--rounded-rad);
  margin: 0 auto;
  padding: var(--pad-8);
  width: calc(var(--wid-dialog) - 2 * var(--pad-8));
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--pad-2);
  box-shadow: var(--shadow);
}

.pages-Onboarding .onboarding-container .photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--pad-2);
  margin-bottom: var(--pad-4);
}

.pages-Onboarding .onboarding-container .photo-container img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--color-light);
}

.pages-Onboarding .onboarding-container .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--pad-2);
}

.pages-Onboarding
  .onboarding-container
  .form-container
  input:not([type="submit"]) {
  width: calc(100% - 2 * var(--pad-3));
  padding: var(--pad-3);
  background-color: var(--color-bg-secondary);
  border-radius: var(--rounded-rad);
  border: 1px solid var(--color-light);
}

.pages-Onboarding .onboarding-container .form-container .submit-container {
  width: 100%;
  margin-top: var(--pad-3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-Onboarding .onboarding-container h1 {
  margin: var(--pad-0);
  font-size: 1.3rem;
}

.pages-Onboarding .onboarding-container h4 {
  margin: var(--pad-0) 0 var(--pad-3) 0;
  color: var(--color-gray);
  font-size: 0.9rem;
}

.pages-Onboarding .onboarding-container .desc {
  margin-bottom: var(--pad-2);
}

.pages-Onboarding .onboarding-container p {
  margin: var(--pad-0);
  padding: var(--pad-0);
  margin-bottom: var(--pad-2);
}

/* keep width to calc(var(--wid-dialog) - 2 * var(--pad-8))
   * till screen width of 360 if width exceeds 400px, set width
   * to 400px */
@media (max-width: 360px) {
  .pages-Onboarding .onboarding-container {
    width: calc(var(--wid-dialog) - 2 * var(--pad-8));
  }
}

@media (min-width: 420px) {
  .pages-Onboarding .onboarding-container {
    width: calc(400px - 2 * var(--pad-8));
  }
}
