.components-Notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--pad-4);
  width: calc(100% - 2 * var(--pad-4) - 40px);
  max-width: 430px;
  min-width: 250px;
  border-radius: var(--rounded-rad);
  text-align: center;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: var(--zindex-always-top);
  /* box-shadow: var(--shadow); */
}

@media (max-width: 360px) {
  .components-Notification {
    padding: var(--pad-3);
    width: calc(100% - 2 * var(--pad-3) - 20px);
  }
}

/* Animation classes */
.components-Notification-anim-init {
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
}

.components-Notification-anim-visible {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.components-Notification-anim-gone {
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
}

/* Notification types */
.components-Notification-type-info {
  background-color: var(--color-info);
  color: var(--color-white);
}

.components-Notification-type-success {
  background-color: var(--color-success);
  color: var(--color-white);
}

.components-Notification-type-warning {
  background-color: var(--color-warning);
  color: var(--color-black);
}

.components-Notification-type-error {
  background-color: var(--color-danger);
  color: var(--color-white);
}

.components-Notification .txt-msg {
  text-align: center;
  margin: 0 var(--pad-3);
}

.components-Notification .btn-close {
  cursor: pointer;
  padding-top: 1px;
}
