:root {
  --wid-dialog: 320px;

  --pad-0: 0;
  --pad-1: 0.25rem;
  --pad-2: 0.5rem;
  --pad-3: 0.75rem;
  --pad-4: 1rem;
  --pad-5: 1.25rem;
  --pad-6: 1.5rem;
  --pad-7: 1.75rem;
  --pad-8: 2rem;

  --margin-0: 0;
  --margin-1: 0.25rem;
  --margin-2: 0.5rem;

  --rounded-rad: 10px;

  --shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
}

.rounded {
  border-radius: var(--rounded-rad);
}

.rounded-top {
  border-top-left-radius: var(--rounded-rad);
  border-top-right-radius: var(--rounded-rad);
}

.rounded-top-left {
  border-top-left-radius: var(--rounded-rad);
}

.rounded-top-right {
  border-top-right-radius: var(--rounded-rad);
}

.shadow {
  box-shadow: var(--shadow);
}
