.components-ButtonText-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--pad-2);
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: filter 0.2s, scale 0.2s;
}

@media (hover: hover) {
  .components-ButtonText-primary:hover {
    filter: brightness(1.2);
  }
}

.components-ButtonText-primary:active {
  scale: 0.95;
}

.components-ButtonText-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: var(--pad-2);
  cursor: pointer;
  border: 1px solid var(--color-secondary);
  transition: filter 0.2s, scale 0.2s;
}

@media (hover: hover) {
  .components-ButtonText-secondary:hover {
    filter: brightness(1.2);
  }
}

.components-ButtonText-secondary:active {
  scale: 0.95;
}

.components-ButtonText-cannibalized {
  background-color: transparent;
  color: black;
  padding: var(--pad-2);
  cursor: pointer;
  border: 1px solid transparent;
}

@media (hover: hover) {
  .components-ButtonText-cannibalized:hover {
    text-decoration: underline;
  }
}

.components-ButtonText-cannibalized:active {
  text-decoration: underline;
}
