.components-DialogImagePreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.components-DialogImagePreview i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 30px;
  height: 30px;

  margin: 0;
  padding: var(--pad-1);

  border-radius: 100%;

  position: absolute;
  top: var(--pad-2);
  right: var(--pad-2);

  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #555555aa;
}

.components-DialogImagePreview img {
  width: 100%;
  max-height: calc(100vh - 100px);
  border-radius: var(--rounded-rad);
  border: 1px solid var(--color-light);
  object-fit: contain;
}
