.components-LoadingAnimation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.components-LoadingAnimation img {
  width: 100%;
  max-height: calc(100vh - 100px);
  border-radius: var(--rounded-rad);
  border: 1px solid var(--color-light);
  object-fit: contain;
}
