.pages-Auth {
  background-color: var(--color-bg-secondary);
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  min-height: 100vh;
  padding: var(--pad-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(210, 210, 210, 0.853),
      rgba(164, 164, 164, 0.778)
    ),
    url("../../assets/images/payingGuest.jpeg");
  background-position: center bottom;
  background-size: cover;
}

/* if height is < 700px, set min-height to 700px */
@media (max-height: 700px) {
  .pages-Auth {
    min-height: 700px;
  }
}

.pages-Auth .logo {
  width: 50px;
  height: 50px;
  margin-bottom: var(--pad-4);
  /* crop the image */
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--color-light);
}

.pages-Auth h1 {
  margin: 0;
  margin-bottom: var(--pad-4);
  font-size: 1.5rem;
  color: var(--color-text-primary);
}

.pages-Auth h2 {
  margin: 0;
  margin-bottom: var(--pad-8);
  font-size: 1.2rem;
  color: var(--color-text-secondary);
}

.pages-Auth .container {
  background-color: var(--color-bg-primary);
  border-radius: var(--rounded-rad);
  margin: 0 auto;
  padding: var(--pad-8);
  width: calc(100% - 2 * var(--pad-8) - 40px);
  max-width: 400px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--pad-8);
  box-shadow: var(--shadow);
}

.pages-Auth .container .form-container {
  display: flex;
  flex-direction: column;
  gap: var(--pad-2);
}

.pages-Auth .form-container input:not([type="submit"]) {
  padding: var(--pad-3);
  background-color: var(--color-bg-secondary);
  border-radius: var(--rounded-rad);
  border: 1px solid var(--color-light);
}

.pages-Auth .form-container .reset-passwd-link {
  margin-top: var(--pad-2);
  text-align: right;
  font-size: 0.9rem;
  color: var(--color-link);
  cursor: pointer;
}

.pages-Auth .form-container .reset-passwd-link:hover {
  color: var(--color-link);
  text-decoration: underline;
}

.pages-Auth .form-container .reset-passwd-link:active {
  color: var(--color-link);
}

.pages-Auth .form-container a {
  color: var(--color-link);
  text-decoration: none;
}

.pages-Auth .form-container a:hover {
  text-decoration: underline;
}

.pages-Auth .form-container p {
  margin-bottom: 0;
}

.pages-Auth .container .button-container {
  display: flex;
  justify-content: space-around;
}

.pages-Auth .container .submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--pad-4);
}

.pages-Auth .container .oauth-container {
  display: flex;
  padding: 0 20px;
  justify-content: space-around;
  gap: var(--pad-2);
}

.pages-Auth .container .oauth-button img {
  margin: 0;
  padding: 0;
  width: auto;
  height: 30px;
}

.pages-Auth .container .oauth-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 1px solid var(--color-light);
  padding: var(--pad-2);
  border-radius: 100%;
}
