.pages-OwnerRooms-SectionRoomForm {
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

.pages-OwnerRooms-SectionRoomForm .heading {
  padding: var(--pad-3);
  padding-top: var(--pad-4);
  padding-bottom: var(--pad-1);
  margin: 0;
  font-weight: bold;
  color: #333;
}

.pages-OwnerRooms-SectionRoomForm .editable-container {
  display: flex;
  flex-direction: row;
}

/* column wise on smaller displays */
@media (max-width: 500px) {
  .pages-OwnerRooms-SectionRoomForm .editable-container {
    display: flex;
    flex-direction: column;
  }
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container {
  width: calc(70% - 2 * var(--pad-3));
  padding: var(--pad-3);
  display: flex;
  flex-direction: column;
  gap: var(--pad-1);
}

@media (max-width: 500px) {
  .pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container {
    width: calc(100% - 2 * var(--pad-3));
    padding: var(--pad-3);
  }
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container input:not([type="submit"]) {
  width: calc(100% - 2 * var(--pad-2));
  padding: var(--pad-3) var(--pad-2);
  background-color: var(--color-bg-secondary);
  border-radius: var(--rounded-rad);
  border: 1px solid var(--color-light);
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container .input-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: var(--pad-1);
  width: calc(100% - 2 * var(--pad-2) - 100px);
  padding: var(--pad-3) var(--pad-2);
  background-color: var(--color-bg-secondary);
  border-radius: var(--rounded-rad);
  border: 1px solid var(--color-light);
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container .input-span .text {
  color: #424242;
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container .input-span input:not([type="submit"]) {
  width: 100%;
  padding: unset;
  background-color: unset;
  border-radius: unset;
  border: unset;
  margin: unset;
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container select {
  width: calc(100%);
  padding: var(--pad-3) var(--pad-2);
  background-color: var(--color-bg-secondary);
  border-radius: var(--rounded-rad);
  border: 1px solid var(--color-light);
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container select:disabled {
  cursor: not-allowed;
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container select:has(option[value=""]:checked) {
  color: #777;
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container select option {
  color: #000;
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container .pashapashi-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--pad-2);
  justify-content: space-between;
  align-items: center;
}

.pages-OwnerRooms-SectionRoomForm .editable-container .filedit-container {
  width: calc(50% - var(--pad-3));
  padding: var(--pad-3);
  padding-left: var(--pad-0);
}

@media (max-width: 500px) {
  .pages-OwnerRooms-SectionRoomForm .editable-container .filedit-container {
    width: calc(100% - 2 * var(--pad-3));
    padding: var(--pad-3);
    padding-top: var(--pad-0);
  }
}

.pages-OwnerRooms-SectionRoomForm .submit-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: var(--pad-2);
  padding: var(--pad-3);
  padding-top: var(--pad-0);
}

.pages-OwnerRooms-SectionRoomForm .btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 30px;
  height: 30px;

  margin: 0;
  padding: var(--pad-1);

  border-radius: 100%;

  position: absolute;
  top: var(--pad-2);
  right: var(--pad-2);

  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #0000005c;
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container .checkbox-container {
  margin: var(--pad-1) 0;
  display: flex;
  align-items: center;
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container .checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container .checkbox-label input[type="checkbox"] {
  width: auto;
  margin-right: var(--pad-2);
  cursor: pointer;
}

.pages-OwnerRooms-SectionRoomForm .editable-container .textedit-container .checkbox-text {
  font-size: 0.9rem;
  color: #333;
}

.pages-OwnerRooms-SectionRoomForm
  .editable-container
  .textedit-container
  .checkbox-label
  input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

.pages-OwnerRooms-SectionRoomForm
  .editable-container
  .textedit-container
  .checkbox-label
  input[type="checkbox"]:disabled
  + .checkbox-text {
  color: #888;
  cursor: not-allowed;
}
