.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: calc(var(--wid-dialog) - 2 * var(--pad-2));
  max-width: auto;
  padding: var(--pad-2);
  border-radius: var(--rounded-rad);
  text-align: center;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.notification .close {
  float: right;
  cursor: pointer;
  padding-top: 1px;
  padding-right: var(--pad-2);
}

.notif-anim-init {
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
}

.notif-anim-visible {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.notif-anim-gone {
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
}

/* Notification types */
.notif-info {
  background-color: var(--color-info);
  color: var(--color-white);
}

.notif-success {
  background-color: var(--color-success);
  color: var(--color-white);
}

.notif-warning {
  background-color: var(--color-warning);
  color: var(--color-black);
}

.notif-error {
  background-color: var(--color-danger);
  color: var(--color-white);
}
