.components-ButtonText-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--pad-2);
  cursor: pointer;
  border: 1px solid var(--color-primary);
}

.components-ButtonText-primary:hover {
  filter: brightness(95%);
}

.components-ButtonText-primary:active {
  filter: brightness(90%);
}

.components-ButtonText-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: var(--pad-2);
  cursor: pointer;
  border: 1px solid var(--color-secondary);
}

.components-ButtonText-secondary:hover {
  filter: brightness(95%);
}

.components-ButtonText-secondary:active {
  filter: brightness(90%);
}

.components-ButtonText-cannibalized {
  background-color: transparent;
  color: black;
  padding: var(--pad-2);
  cursor: pointer;
  border: 1px solid transparent;
}

.components-ButtonText-cannibalied:hover {
  filter: brightness(95%);
}

.components-ButtonText-cannibalied:active {
  filter: brightness(90%);
}
