# WARINING: DO NOT PUT THE DEBUG TOKEN IN THIS FILE
# WARINING: PUT THE DEBUG TOKEN IN .env.local FILE
# WARINING: IF YOU PUT THE DEBUG TOKEN IN THIS FILE, YOU WILL BE MAKING APPCHECK USELESS
# WARINING: IF YOU PUT THE DEBUG TOKEN IN THIS FILE, I SWEAR I WILL FIND YOU
PORT=3000
REACT_APP_FIREBASE_APPCHECK_DEBUG_TOKEN=DO_NOT_PUT_YOUR_DEBUG_TOKEN_HERE
REACT_APP_API_SERVER_URL=" http://localhost:3001"
