.Auth-page {
  background-color: var(--color-bg-secondary);
  width: 100%;
  height: 100vh;
  padding: var(--pad-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(210, 210, 210, 0.652), rgba(164, 164, 164, 0.774)), url("../../assets/images/payingGuest.jpeg");
  background-size: cover;
}

.Auth-page .logo {
  width: 80px;
  height: 80px;
  margin-bottom: var(--pad-4);
  /* crop the image */
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--color-light);
}

.Auth-page h1 {
  margin: 0;
  margin-bottom: var(--pad-4);
  font-size: 1.5rem;
  color: var(--color-text-primary);
}

.Auth-page h2 {
  margin: 0;
  margin-bottom: var(--pad-8);
  font-size: 1.2rem;
  color: var(--color-text-secondary);
}

.Auth-container {
  background-color: var(--color-bg-primary);
  border-radius: var(--rounded-rad);
  margin: 0 auto;
  padding: var(--pad-8);
  width: var(--wid-dialog);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--pad-8);
  box-shadow: var(--shadow);
}

.Auth-container .form-container {
  display: flex;
  flex-direction: column;
  gap: var(--pad-2);
}

.form-container input {
  padding: var(--pad-2);
  border-radius: var(--rounded-rad);
  border: 1px solid var(--color-light);
}

.Auth-container .button-container {
  display: flex;
  justify-content: space-around;
}

.Auth-container .submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--pad-8);
}

.Auth-container .oauth-container {
  display: flex;
  padding: 0 20px;
  justify-content: space-around;
  gap: var(--pad-2);
}

.Auth-container .oauth-button img {
  margin: 0;
  padding: 0;
  width: auto;
  height: 30px;
}

.Auth-container .oauth-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 1px solid var(--color-light);
  padding: var(--pad-2);
  border-radius: 100%;
}
